<h1><%= @trade_signal.signal_type %></h1>

<p><strong>Ticker: <%= @trade_signal.ticker %></strong></p>
<p><strong>Entry Price: <%= @trade_signal.entry_price %></strong></p>
<p><strong>Score: <%= @trade_signal.score %></strong></p>
<p><strong>Triggered At: <%= @trade_signal.triggered_at %></strong></p>
